body {
    background-color: #121212;
    font-family: sans-serif;
    overflow-x: auto;
}

a {
    float: left;
    background-color: #101010;
    height: 20vh;
    width: 100vw;
    margin: 2vh 0;
    font-size: 20vh;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0 0vw;
}

h2 {
    font-size: 15vw;
    margin-top: 2vh;
}

#canais {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 238%;
    padding: 0;
}

.aberta {
    background: linear-gradient(to bottom, rgb(255,150,100) 55%, rgb(255,100,100) 45%);
    text-shadow: 4px 4px 0px black;
}

.espn {
    background: red;
    text-shadow: 4px 4px 0px black;
    outline: 3px solid white;
}

.sport {
    background: linear-gradient(to right, blue 70%, red 30%);
    text-shadow: 4px 4px 0px black;
}

.premiere {
    background: linear-gradient(to bottom, green 55%, white 45%);
    text-shadow: 4px 4px 0px black;
}