body {
    position: absolute;
    background-color: #121212;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
    left: 20%;
}

#version {
    user-select: none;
}

.version-title {
    color: white;
    font-size: 2vh;
    position: absolute;
    top: 0.3vh;
    left: -9vh;
}

* {
    margin: 0;
    padding: 0;
}

a {
    float: left;
    background-color: #101010;
    height: 20vh;
    width: 100vw;
    margin: 2vh 0;
    font-size: 20vh;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0;
    user-select: none;
}

@media screen and (orientation: landscape) {
    a {
        width: calc(50% - 4vw);
        margin: 2vh 2vw; 
    }
}

h2 {
    font-size: 8vh;
    margin-top: 1.5vh;
}

#canais {
    position: absolute;
    transform: translateX(-50%);
    transform: translateZ(-50%);
    left: 30%;
    top: 1vh;
    padding: 0;
}

.aberta {
    background: linear-gradient(to bottom, rgb(100,150,100) 55%, rgb(100,130,100) 45%);
    text-shadow: 4px 4px 0px black;
}

.espn {
    background: red;
    text-shadow: 4px 4px 0px black;
    outline: 4px solid white;
}

.sport {
    background: linear-gradient(to right, blue 70%, red 30%);
    text-shadow: 4px 4px 0px black;
}

.premiere {
    background: linear-gradient(to bottom, green 55%, white 45%);
    text-shadow: 4px 4px 0px black;
}
